@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
	box-sizing: border-box;
}

body {
	background-color: steelblue;
	color: #fff;
	font-family: 'Muli', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	overflow: hidden;
	margin: 0;
}

.container {
	background-color: rgba(0, 0, 0, 0.4);
	padding: 20px 40px;
	border-radius: 5px;
}

.container h1 {
	text-align: center;
	margin-bottom: 30px;
}

.container a {
	text-decoration: none;
	color: lightblue;
}

.btn {
	cursor: pointer;
	display: inline-block;
	width: 100%;
	padding: 15px;
	font-family: inherit;
	font-size: 16px;
	border: 0;
	border-radius: 5px;
}

.btn:focus {
	outline: 0;
}

.btn:active {
	transform: scale(0.98);
}

.text {
	margin-top: 30px;
}

.form-control {
	position: relative;
	margin: 20px 0 40px;
	width: 300px;
}

.form-control input {
	background-color: transparent;
	border: 0;
	border-bottom: 2px #fff solid;
	/* block 会 独占一行 */
	display: block;
	width: 100%;
	padding: 15px 0;
	font-size: 18px;
	color: #fff;
	position: relative;
	z-index: 100;
}

.form-control input:focus,
.form-control input:valid {
	outline: 0;
	border-bottom-color: lightblue;
}

.form-control label {
	position: absolute;
	top: 15px;
	left: 0;
	pointer-events: none;
}

.form-control label span {
	display: inline-block;
	/* 这俩有啥用... */
	font-size: 18px;
	min-width: 5px;
	transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
/* 
.form-control input:focus + label span 选择器的作用是：
当 .form-control 内的 <input> 元素获得焦点时，
选择紧邻该 <input> 后的第一个 <label> 元素，
并在该 <label> 内选择所有的 <span> 元素，
对这些 <span> 应用定义的样式。
*/
.form-control input:focus + label span,
.form-control input:valid + label span {
	color: lightblue;
	transform: translateY(-30px);
}
