@import url('https://fonts.googleapis.com/css2?family=Muli:wght@400;700&display=swap');
* {
	box-sizing: border-box;
}
body {
	font-family: 'Muli', sans-serif;
	margin: 0;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}

.container {
	display: flex;
	width: 90vw;
}

.panel {
	background-size: auto 100%;
	background-position: center;
	background-repeat: no-repeat;
	height: 80vh;
	border-radius: 50px;
	cursor: pointer;
	color: #fff;
	flex: 0.5;
	margin: 10px;
	position: relative;
	transition: flex 0.7s ease-in;
}
/* 
父元素设置 position: relative;，子元素设置 position: absolute; 是常见的布局方式。
父元素 (relative)：
作为定位上下文，确保子元素的绝对定位基于父元素。
子元素 (absolute)：
可以在父元素内任意位置定位，不影响文档流。
*/
.panel h3 {
	font-size: 24px;
	position: absolute;
	bottom: 20px;
	left: 20px;
	margin: 0;
	opacity: 0;
}

/* 注意不能写 :active, 因为active是css的伪类, 需要写成 .active */
.panel.active {
	flex: 5;
}

.panel.active h3 {
	opacity: 1;
	transition: opacity 0.3s ease-in 0.4s;
}

@media (max-width: 600px) {
	.container {
		width: 100vw;
	}
	.panel:nth-of-type(4),
	.panel:nth-of-type(5) {
		display: none;
	}
}
